<ul class="nav d-flex justify-content-center p-3 fs-3">
    <li class="nav-item p-2 fs-1 "><a class="nav-link text-light fs-3" href="/">Home</a></li>
    <li class="nav-item p-2"><a  class="nav-link text-light" href="/about">About</a></li>
    <li class="nav-item p-2"><a  class="nav-link fs-4 text-light" href="/projcets">Projects</a></li>


</ul>